In [1]:
my_string = 'Hello'
print(my_string)

Hello

In [2]:
my_string = "Hello"
print(my_string)

Hello

In [3]:
my_string = '''Hello'''
print(my_string)

Hello

In [4]:
my_string = """Hello, welcome to 
the world of python"""
print(my_string)

Hello, welcome to
the world of python

In [24]:
str = "digipodium"
print('str = ',str)
print("str[-3] = ",str[-3])
print("str[4] = ",str[1+3])
print("str[4] = ",str[2*2])
print("str[3] = ",str[4-1])

str =  digipodium
str[-3] =  i
str[4] =  p
str[4] =  p
str[3] =  i

In [21]:
s = "digipodium"
slice1 = s[4:7]
print(slice1)

pod

In [33]:
name = "Vijay Deenanath Chauhan"
f_name = print(name[6:15])
f_name = print(name[0:5])
l_name = print(name[-7:])

Deenanath
Vijay
Chauhan

In [35]:
sentence = 'The quick brown fox jumps over the lazy dog'
print(sentence[:10])
print(sentence[-5:])

The quick
y dog

In [38]:
amt = "$12300"
print(int(amt[1:]))

12300

In [2]:
uname = "@pankajðŸ˜ŽðŸ˜ŽðŸ˜ŽðŸ’€"
uname[:5]

'@pank'

In [7]:
#methods 
word = 'Data Science'
word2 = word.upper()
word3 = word.lower()
word4 = word.capitalize()
print(f"Original: {word}")
print(f"upper: {word2}")
print(f"lower: {word3}")
print(f"capitalize: {word4}")

Original: Data Science
upper: DATA SCIENCE
lower: data science
capitalize: Data science

In [11]:
#search and replace
sentence = "data science is the science of data"
print(sentence.find('is'))
print(sentence.find('science'))
print(sentence.find('science', 6))

13
5
20

In [16]:
sentence = "The quick brown fox jumps over the lazy dog"
sentence.find('red')
sentence.find('own')

12

In [31]:
#replace
print(sentence.replace('brown','green'))
print(sentence.replace('brown','black').replace('fox','rat'))
print(sentence.replace('fox','dog').replace('brown','green').replace('dog','goat').replace('jumps','kicks'))

The quick green fox jumps over the lazy dog
The quick black rat jumps over the lazy dog
The quick green goat kicks over the lazy goat

In [34]:
story = 'once there was king named Arthur, who was a great king'
print(story.count('king'))
print(story.count('queen'))
print(story.count('a'))

2
0
5

In [37]:
print(story.split())
print(story.split('there'))
print(story.split(','))

['once', 'there', 'was', 'king', 'named', 'Arthur,', 'who', 'was', 'a', 'great', 'king']
['once ', ' was king named Arthur, who was a great king']
['once there was king named Arthur', ' who was a great king']

In [41]:
poem = '''Johny Johny, Yes Papa
Eating Sugar? No Papa
Telling Lies? No Papa
Open your mouth Ha! Ha! Ha!'''
print(poem.split('\n'))
print(poem.splitlines())
print(poem.split('Papa'))

['Johny Johny, Yes Papa', 'Eating Sugar? No Papa', 'Telling Lies? No Papa', 'Open your mouth Ha! Ha! Ha!']
['Johny Johny, Yes Papa', 'Eating Sugar? No Papa', 'Telling Lies? No Papa', 'Open your mouth Ha! Ha! Ha!']
['Johny Johny, Yes ', '\nEating Sugar? No ', '\nTelling Lies? No ', '\nOpen your mouth Ha! Ha! Ha!']

In [47]:
pathList = ['C:','Users','Admin','Desktop','Python','Python.txt']
print("/".join(pathList))
print(".".join(pathList))

C:/Users/Admin/Desktop/Python/Python.txt
C:.Users.Admin.Desktop.Python.Python.txt

In [59]:
import os
content = os.listdir('C:/users/shantanu sharma/Downloads/')
print(f'Total items = {len(content)}')

Total items = 256

In [63]:
total = 0
for item in content:
    if item.endswith('.csv'):
        print(item)
        total += 1
print('----'*10)
print(f'Total files = {total}')

Book2.csv
N-LIST National Library and Information Services Infrastructure for scholarly content.csv
----------------------------------------
Total files = 2

In [70]:
total = 0
for item in content:
    if item.lower().startswith('t'):
        print(item)
        total += 1
print('----'*10)
print(f'Total files = {total}')

Technex Publicity Brochure.pdf
Telegram Desktop
The.Nun-2.2023.1080p.WEB-DL.Hindi.Line-English.x264-1XBET.Vegamovies.to.mkv
tiny_heart_attack.jpg
torbrowser-install-win64-12.0.4_ALL.exe
----------------------------------------
Total files = 5